button {

    background:none;
    margin-left: -5px;

    box-shadow: 0px 0px 0px transparent;

    border: 0px solid transparent;

    text-shadow: 0px 0px 0px transparent;

}

 

button:hover {

    background: none;

    box-shadow: 0px 0px 0px transparent;

    border: 0px solid transparent;

    text-shadow: 0px 0px 0px transparent;

}

.flex-box{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    /* background-color: lightgrey; */
}

.status-center{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    height: 50px;
    width: 250px;
}
.st-control{
    width: 330px;
    height: 100px;
    margin-left:50px;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.close{
    position: absolute;
    bottom: 5px;
    left: 390px;
}
.menufriend-img{
    height: 250px;
    border-radius: 50%;
}
.modal-content{
    position: relative !important;
    /* background-color:#B5EAEA; */
}
.status-heading{
    position:relative;
    top:40px;
    left: -40px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}
.div-relative{
    position: relative;
}